.section {

    &__paragraph--about {
        padding: 0 2rem;

        @include media('>=desktop-l') {

            padding: 0;

            &::before {
                content: 'O nas';
                transform: rotate(20deg);
                opacity: .1;
            }
        }
    }
}