.swiper-container {
  width: 100%;
  height: 100%;
  background-color: $black;

}

.swiper-pagination-bullets {

  transform: scale(2);
}

.swiper-slide {
  width: 100%;
  height: 100vh;
}

.carousel {

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}