.contact {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    padding: 0 1rem;
    width: 100%;

    @include media('>=tablet') {
        flex-flow: row nowrap;
    }

    &__left {
        width: 100%;
        
        @include media('>=tablet') {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
        }
    }

    &__right {
        width: 100%;
        margin-top: 3rem;
        @include media('>=tablet') {
            margin: 0;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;

        }
    }

    &__person {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column nowrap;
        padding: 1rem 0;
    }

    &__name {
        font-weight: bold;
        font-size: rem(16px);

        @include media('>=phone') {
            font-size: rem(20px);
        }
    }

    &__title {}

    &__tel,
    &__mail {

        text-decoration: none;
        color: $black;

        &:hover {
            text-decoration: underline;
        }

        &--footer {
            color: $white;
        }
    }



    &__company {
        padding: 1rem 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    &__line {

        &--bold {
            font-weight: bold;
            font-size: rem(16px);

            @include media('>=phone') {
                font-size: rem(20px);
            }

        }
    }

    &__firstLetter {
        color: $red1;
    }

}