.footer {
    width: 100%;
    color: $white;
    background-color: $black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;


    &__columnWrapper {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;

        @include media('>=tablet-l') {
            flex-flow: row nowrap;
        }
    }

    &__column1,
    &__column2,
    &__column3 {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

    }

    &__column1 {
        align-items: flex-start;
    }

    &__column2 {
        align-items: center;
    }

    &__column3 {
        align-items: flex-end;
    }

    &__copyrights {
        width: 100%;
        padding: 1rem 0;
        text-align: left;

    }
}