.header {

  position: relative;


  &__navigation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
    z-index: 2;

    @include media('>=desktop') {
      padding-top: 0;
      height: auto;
      width: auto;
      flex-flow: row nowrap;
      position: static;
      transform: translateX(0%);
    }

    &--open {
      transform: translateX(0%);
    }

  }

  &__button {
    background-color: transparent;
    border: 0;
    z-index: 5;
    padding: 1rem;

    @include media('>=desktop') {
      display: none;
    }
  }

  &__menuIcon {
    width: 30px;
    height: 30px;
    color: $white;
    fill: currentColor;

    @include media('>=desktop') {
      display: none;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    color: $white;
    fill: currentColor;
    vertical-align: middle;
    margin: 2rem;

    @include media('>=desktop') {
      width: 30px;
      height: 30px;
      margin: 2rem;
    }

    @include media('landscape', '<=tablet-l') {
      margin: 1rem;
    }
  }

  &__topBg {
    background-color: $black;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 85px;
  }

  &__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo {
    font-size: rem(18px);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .4rem;
    margin: 0 1rem;



    @include media('>=phone') {
      letter-spacing: .4rem;
      margin: 0 1rem;
    }
  }



  &__link {
    display: block;
    color: white;
    text-decoration: none;

  }

  &__line {

    display: block;

    &::first-letter {
      color: $red1;
    }

  }
  .gradient {
    background: linear-gradient(to right, #fff 0%, yellow 14%,red 70%, blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__scrollImg {
    display: block;
    padding: 0;
    margin-left: -25px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8%;
    z-index: 3;
    opacity: 0;
    width: 50px;
    height: 50px;
    color: $white;
    fill: currentColor;
    animation: scrollDown 2s infinite;

    @include media('>=desktop') {
      bottom: 6%;
    }

    @include media('landscape', '<=tablet-l') {
      bottom: 13%;
    }

    .header--open-navigation & {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }

  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}