html {
  @include rem-baseline;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  color: $black;
  font-size: rem(16px);
  line-height: 1.6;
}

.bodyOverflow {
  overflow: hidden;
}