.menu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: $black;
  z-index: 2;

  @include media('>=desktop') {
    flex-flow: row nowrap;
    background-color: transparent;
    height: auto;

  }

  &__item {

    width: 100%;
    text-align: center;

    @include media('>=desktop') {
      width: auto;

    }
  }

  &__link {
    display: block;
    padding: 2rem 0;
    font-size: rem(30px);
    font-weight: bold;
    text-decoration: none;
    color: $white;
    text-transform: uppercase;

    @include media('landscape', '<=tablet-l') {
      padding: 1rem 0;
      font-size: rem(20px);
    }

    @include media('>=desktop') {
      font-size: rem(16px);
      padding: 0 2rem;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: $white;
        transition: width .3s ease-in;
      }

      &:hover::after {
        width: 100%;
      }
    }


    &:hover,
    &:focus {
      background-color: $white;
      color: $black;

      @include media('>=desktop') {
        background-color: transparent;
        color: $white;
      }
    }
  }
}