.realizations {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;



  @include media('>=tablet-l') {
    flex-flow: row wrap;
    padding: 0;
  }

  &__item {
    margin: 1rem;
  }

  &__img {
    background-color: $white;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    border-radius: 5px;
    width: 100px;
    height: 100px;

    &:hover {
      box-shadow: 0 0 2px 2px $purple;
    }



    @include media('>=desktop') {
      width: 200px;
      height: 200px;
      padding: 0 .5rem;

      // &:hover {
      //   transform: scale(1.5);
      //   transition: transform .5s ease-in-out;
      //   z-index: 5;


      // }
    }
  }
}