.section {
    margin: auto;
    padding: 3rem 0;
    height: 100%;

    &__heading {
        font-size: rem(20px);
        text-align: center;
        color: $black;
        font-weight: bold;
        font-style: italic;
        margin: 0 0 5rem 0;
    }

    &__heading--line::after,
    &__heading--line::before {
        color: $black;
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        text-decoration: line-through;
        padding: 0 20px;
        font-weight: bold;
    }

    &__text {
        color: $black;
        text-align: justify;
        margin: 0 1rem;
    }
}