// Base font size definition

$rem-baseline: 10px;

// Colors definitions (use: http://chir.ag/projects/name-that-color/)


$white: #ffffff;
$black: #000000;
$blue1: #073d62;
$blue2: #1c4867;
$blue3: #063559;
$yellow: #f8c100;
$mint: #00b8af;
$mint2: #89dfe3;
$purple: #1A022A;
$red1: rgb(203,67,53);


